{{yield}}
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Login</h1>
                    <form role="form" method="post" {{action "submit" on="submit" }} id="login-form" >
                        <div class="form-group">
                            <label for="username" class="sr-only">Username</label>
                            {{input type="text" required='required' class="form-control" value=user.username placeholder="Username"}}
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            {{input type="password" required='required' class="form-control" value=user.password placeholder="Password"}}
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
